/* search bar */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

button.search-btn {
  padding: 10px 20px;
  background-color: #b4782b;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.search-btn:hover {
  background-color: #bd8a47;
}

/* books */
.book-container {
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book-item {
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

.book-item h2 {
  margin-top: 0.5rem;
}

.book-item p {
  margin: 0;
}

.book-item img {
  height: 200px;
  object-fit: cover;
}

/* loader button */
.button-container {
  display: flex;
  justify-content: center;
}

.load-more-btn {
  padding: 10px 20px;
  background-color: #b4782b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 0px 20px 20px 20px;
}

.load-more-btn:hover {
  background-color: #bd8a47;
}

/* icons */
.icons-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #777;
}

.btn-icon:hover {
  color: #333;
}
