<div *ngIf="isLoading; else bookGrid" class="loader">
  <app-loader></app-loader>
</div>

<ng-template #bookGrid>
  <!-- Books I Want to Read -->
  <div>
    <h2><fa-icon [icon]="faBookmark" /> Books I Want to Read</h2>

    <p *ngIf="wishlistBooks.length <= 0">
      There are no books on your wishlist :(
    </p>
    <div class="book-container">
      <div *ngFor="let book of wishlistBooks" class="book-item">
        <img
          *ngIf="book.cover_i; else defaultCover"
          [src]="
            'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'
          "
          alt="Book Cover"
        />

        <!-- Using the default image in case of missing image -->
        <ng-template #defaultCover>
          <img src="../assets/missingbook.webp" alt="Default Book Cover" />
        </ng-template>

        <h2>{{ book.title }}</h2>
        <p>
          Author:
          {{
            book.author_name
              ? book.author_name.slice(0, 2).join(", ")
              : "Unknown"
          }}
        </p>
        <p>Published Date: {{ book.first_publish_year }}</p>
        <p>
          Genre:
          {{ book.subject ? book.subject.slice(0, 3).join(", ") : "-" }}
        </p>

        <!-- icons -->
        <div class="icons-container">
          <button class="btn-icon">
            <fa-icon [icon]="faSquareCheck" />
          </button>

          <button
            class="btn-icon"
            [style.color]="book.shelf === 'wishlist' ? 'gold' : ''"
          >
            <fa-icon [icon]="faBookmark" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Books I've Read -->
  <div>
    <h2><fa-icon [icon]="faSquareCheck" /> Books I've Read</h2>
    <p *ngIf="readBooks.length <= 0">There are no books on your bookshelf :(</p>

    <div class="book-container">
      <div *ngFor="let book of readBooks" class="book-item">
        <img
          *ngIf="book.cover_i; else defaultCover"
          [src]="
            'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'
          "
          alt="Book Cover"
        />

        <!-- Using the default image in case of missing image -->
        <ng-template #defaultCover>
          <img src="../assets/missingbook.webp" alt="Default Book Cover" />
        </ng-template>

        <h2>{{ book.title }}</h2>
        <p>
          Author:
          {{
            book.author_name
              ? book.author_name.slice(0, 2).join(", ")
              : "Unknown"
          }}
        </p>
        <p>Published Date: {{ book.first_publish_year }}</p>
        <p>
          Genre:
          {{ book.subject ? book.subject.slice(0, 3).join(", ") : "-" }}
        </p>

        <!-- icons -->
        <div class="icons-container">
          <button
            class="btn-icon"
            [style.color]="book.shelf === 'read' ? 'rgb(55, 180, 116)' : ''"
          >
            <fa-icon [icon]="faSquareCheck" />
          </button>

          <button class="btn-icon">
            <fa-icon [icon]="faBookmark" />
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
