.register-container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  background-color: #b4782b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #bd8a47;
}

.form-actions button[disabled] {
  background-color: rgb(190, 189, 189);
  cursor: not-allowed;
}

.form-actions p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: dimgray;
}

a {
  text-decoration: none;
  color: #b4782b;
}

.error-message {
  color: rgb(238, 0, 0);
  font-style: italic;
}

.general-msg {
  text-align: center;
}
