<nav class="navbar navbar-expand-lg navbar-color">
  <a class="navbar-brand" href="">📖 Bookaholics</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav navbar" *ngIf="isLogged">
      <a class="nav-link" routerLink="">Home</a>
      <a class="nav-link" routerLink="library">Library</a>
      <a class="nav-link" routerLink="my-bookshelf">My Bookshelf</a>
      <a class="nav-link" routerLink="add-book">Add Book</a>
      <a class="nav-link" routerLink="edit-book">Edit Book</a>
      <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
    </div>
    <div class="navbar-nav navbar" *ngIf="!isLogged">
      <a class="nav-link" routerLink="">Home</a>
      <a class="nav-link" routerLink="library">Library</a>
      <a class="nav-link" routerLink="user/login">Login</a>
      <a class="nav-link" routerLink="user/register">Register</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet />
</div>
