<div class="container">
  <header class="header">
    <h1>Welcome to Bookaholics</h1>
    <p>Discover, Explore, and Share Your Love for Books</p>
  </header>

  <section class="about">
    <h2>About Bookaholics</h2>
    <p>
      Bookaholics is a community-driven website that celebrates the joy of
      reading. Whether you are a mad bookaholic or a curious reader, this is the
      place to dive into the world of books and connect with fellow book lovers.
      Explore a vast collection of books, share your literary adventures, and
      add new chapters to your reading journey.
    </p>
  </section>

  <section class="features">
    <h2>Features</h2>
    <div class="feature-container">
      <div class="feature" routerLink="/library">
        <h3>
          <fa-icon [icon]="faBook" style="color: rgb(70, 140, 253)" /> Library
        </h3>
        <p>Browse our extensive library and discover new books to read.</p>
      </div>
      <div class="feature" routerLink="/my-bookshelf">
        <h3>
          <fa-icon [icon]="faHeart" style="color: rgb(253, 70, 70)" /> My
          Bookshelf
        </h3>
        <p>
          Keep track of the books you've read and revisit your literary journey.
        </p>
      </div>
      <div class="feature" routerLink="/add-book">
        <h3>
          <fa-icon [icon]="faPen" style="color: rgb(55, 180, 116)" /> Add Book
        </h3>
        <p>
          Share your favorite books with the community by adding them to the
          collection.
        </p>
      </div>
    </div>
  </section>
</div>
